/*Colors:
#f08c23 - orange
#4c4c4c - gray (dark)
#aeaeae - gray (light)
#008a6e - green*/

body{
	height:100vh;
	margin: 0;
/*	font-family: 'Lato', sans-serif;
*/	font-family: 'Noto Sans', sans-serif;
}

textarea {
	resize: none;
}

#topBar{
	height: 60px;
	width: 100%;
	background-color: black;
}

#upcomingEvents, #createMsg, .recentText,.events, .quickMsgBox {
    border: 1px solid;
    border-color: #aeaeae;
    margin: 10px;
    padding: 10px;
}

#leftPanel{
	width: 65%;
}

#rightPanel{
	width: 30%;
}

#createMsg h2{
	color: #f08c23;
}

#recentMsgs {
	border: 1px solid;
	border-color: #aeaeae;
	width: 100%;
	padding: 10px;
}

#container {
	display: table;
	table-layout: fixed;
	width: 100vw;
	height: 100vh;
}

#topBar {
	width: 100%;
}

#wrapper{
	width: 100%;
	margin: 30px auto;
	display: table-row;
}

.cell {
	display: table-cell;
}

.recentText {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	/* -webkit-line-clamp: 3;
	-webkit-box-orient: vertical; */
}

.scrolls{
	height: 300px;
	overflow-y: auto;
}

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    color: #F08C23;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #f2ca9d;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #F08C23;
    color: white;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
}

.tabcontent h4 {
	color: #4c4c4c;
}

.tablinks {
	width: 50%;
	border-color: #F08C23;
}

#Urgent{
	display: block;
}
.quickMsgBox{
	width: auto;
	height: 3em;
}

.quickMsgBox h2{
	margin: 10px 10px;
	text-align: center;
}

.quickMsgBox textarea{
	width: 99%;
	height: auto;
	display: none;
}

.quickMsgBox:hover{
	background-color: #ccc
}

.quickMsgBox.active{
	background-color: #ccc
	height: 6em;
}

textarea{
	width: 99%;
}
