body, html {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	font-family: 'Lato', sans-serif;
}

#container {
	height: 100%;

}

#sideBar {
	font-family: 'Noto Sans', sans-serif;
	height: 100%;
	width: 220px;
	background-color: #13896D;
	float: left;
}

#workspace {
	height: 100%;
	overflow: auto;
	background-color: white;
	overflow-y: hidden;
}

#login {
	height: 100px;
}

#logo {
	width: 50px;
	float: left;
	margin: 7px;
}

#username {
	font-size: 35px;
	overflow: auto;
	line-height: 65px;
}

#optionsGroup {
	width: 100%;
	display: block;
}

.option {
	height: 50px;
	line-height: 50px;
	padding-left: 30px;
}

.option:hover {
	background-color: white;
	transition: 0.2s;
}

.option:focus {
	background-color: white;
}

.hidden {
	display: none;
}

.visible {
	display: block;
}

.active { /*keeps menu options active*/
	background-color: white;
}

/* Styles for broadcast workspace */
#broadcast {
	height: 100%;
	width: 100%;
}

#msgMakerSpace {
	height: 100%;
	width: 650px;
	float: left;
}

#msgMaker {
	height: 90%;
	width: 550px;
	border-radius: 4%;
	background-color: #F58F31;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5vh;
}

#msgSpace {
	height: 45vh;
	padding-top: 20px;
}

#msgSpace span {
	font-size: 20px;
	font-weight: bold;
	margin-left: 30px;
}

#msgInput {
	width: 90%;
	height: 85%;
	background-color: white;
	border-radius: 10px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
}

#groupSpace {
	height: 33vh;
	padding-top: 10px;
}

#groupSpace span {
	font-size: 20px;
	font-weight: bold;
	margin-left: 30px;
}

#groupInput {
	width: 90%;
	height: 70%;
	background-color: white;
	border-radius: 10px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
}

#sendButton {
	background-color: #13896D;
	height: 30px;
	width: 70px;
	text-align: center;
	line-height: 30px;
	float: right;
	border-radius: 10px;
	margin-right: 30px;
}

#recentMsgs {
	height: 100%;
	overflow-y: scroll;
	overflow: auto;
	border-left: 3px darkgray solid;
}

#recentTitle {
	font-size: 25px;
	text-align: center;
	width: 100%;
	height: 70px;
	line-height: 70px;
}

.scrolls {
	height: 100%;
}

.recentText {
	background-color: lightgray;
	width: 90%;
	border-radius: 10px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	padding: 20px;
	box-sizing: border-box;
}

#groups {
	height: 100%;
	width: 100%;
	background-color: yellow;
}

#msgOverlay {
	z-index: 1;
  position: fixed;
  top: 0;
	right: 0;
  height: 100%;
  width: 0;
  background-color: lightyellow;
  overflow-x: hidden;
  transition: 0.3s;
}

#newMsg {
	display: block;
  width: 30px;
  font-size: 30px;
  position: absolute;
	top: 5px;
	right: 20px;
  cursor: default;
}

#newMsg:hover {
	transform: scale(1.1, 1.1);
	transition: 0.3s;
}

#groupOverlay {
	z-index: 1;
  position: fixed;
  top: 0;
	right: 0;
  height: 100%;
  width: 0;
  background-color: lightblue;
  overflow-x: hidden;
  transition: 0.3s;
}

#closeMsg, #closeGroup{
	display: block;
  transform: rotate(0deg);
  width: 30px;
  font-size: 30px;
  position: absolute;
	top: 5px;
	left: 20px;
  cursor: default;
  transition: 0.3s;
}

#closeMsg:hover, #closeGroup:hover {
  transform: rotate(-8deg) scale(.99, .99);
  transition: 0.3s;
}

#groupTitle, #msgTitle {
	font-size: 25px;
	text-align: center;
	width: 100%;
	height: 70px;
	line-height: 70px;
}

.draggable {
	background-color: lightgray;
	width: 90%;
	height: 100px;
	border-radius: 10px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	padding: 20px;
	box-sizing: border-box;
}




