/* 
COLORS:
GREEN — #13896D
ORANGE — #F58F31

FONTS: (Narrow Down Later)
font-family: 'Lato', sans-serif;
font-family: 'Noto Sans', sans-serif;
font-family: 'Roboto Slab', serif;
*/

html, body {
  height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	font-family: 'Lato', sans-serif;
	overflow: hidden;
}


#container {
	height: 100%;
}

#sideBar {
	font-family: 'Roboto Slab', serif;
	height: 100%;
	width: 220px;
	background-color: #13896D;
	float: left;
}

#workspace {
	height: 100%;
	overflow: auto;
	background-color: white;
	overflow-y: hidden;
}

#login {
	height: 100px;
}

#logo {
	width: 50px;
	float: left;
	margin: 7px;
}

#username {
	font-size: 35px;
	overflow: auto;
	line-height: 65px;
}

#optionsGroup {
	width: 100%;
	display: block;
}

.option {
	height: 50px;
	line-height: 50px;
	padding-left: 30px;
}

.option:hover {
	background-color: white;
	transition: 0.2s;
}

.option:focus {
	background-color: white;
}

.hidden {
	display: none;
}

.visible {
	display: block;
}

.active { /*keeps menu options active*/
	background-color: white;
}

/* Styles for broadcast workspace */
#broadcast {
	height: 100%;
	width: 100%;
}

#msgMakerSpace {
	height: 100%;
	width: 650px;
	float: left;
}

#msgMaker {
	height: 90%;
	width: 550px;
	border-radius: 4%;
	background-color: #F58F31;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5vh;
}

#msgSpace {
	height: 45vh;
	padding-top: 20px;
}

#msgSpace span {
	font-size: 20px;
	font-weight: bold;
	margin-left: 30px;
}

#msgInput {
	width: 90%;
	height: 85%;
	background-color: white;
	border-radius: 10px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	position: relative;
}

#groupSpace {
	height: 33vh;
	padding-top: 10px;
}

#groupSpace span {
	font-size: 20px;
	font-weight: bold;
	margin-left: 30px;
}

#groupInput {
	width: 90%;
	height: 70%;
	background-color: white;
	border-radius: 10px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	position: relative;
}

#sendButton {
	background-color: #13896D;
	height: 30px;
	width: 70px;
	text-align: center;
	line-height: 30px;
	float: right;
	border-radius: 10px;
	margin-right: 30px;
}

#recentMsgs {
	height: 100%;
	overflow-y: scroll;
	overflow: auto;
	border-left: 3px darkgray solid;
}

#recentTitle {
	font-size: 25px;
	text-align: center;
	width: 100%;
	height: 70px;
	line-height: 70px;
}

.scrolls {
	height: 100%;
}

.recentText {
	background-color: lightgray;
	width: 90%;
	border-radius: 10px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	padding: 20px;
	box-sizing: border-box;
}

#msgOverlay {
	z-index: 1;
  position: fixed;
  top: 0;
	right: 0;
  height: 100%;
  width: 0;
  background-color: lightyellow;
  overflow-x: hidden;
  transition: 0.3s;
}

#msgOverlayWrap {
	height: 100%;
}

#newMsg {
	display: block;
  width: 30px;
  font-size: 30px;
  position: absolute;
	top: 5px;
	right: 20px;
  cursor: default;
}

#newMsg:hover {
	transform: scale(1.1, 1.1);
	transition: 0.3s;
}

#groupOverlay {
	z-index: 1;
  position: fixed;
  top: 0;
	right: 0;
  height: 100%;
  width: 0;
  background-color: lightblue;
  overflow-x: hidden;
  transition: 0.3s;
}

#groupOverlayWrap {
	height: 100%;
}

#closeMsg, #closeGroup{
	display: block;
  transform: rotate(0deg);
  width: 30px;
  font-size: 30px;
  position: absolute;
	top: 5px;
	left: 20px;
  cursor: default;
  transition: 0.3s;
}

#closeMsg:hover, #closeGroup:hover {
  transform: rotate(-8deg) scale(.99, .99);
  transition: 0.3s;
}

#groupTitle, #msgTitle {
	font-size: 25px;
	text-align: center;
	width: 100%;
	height: 70px;
	line-height: 70px;
}

#msgWarning, #grpWarning {
	color: red;
	width: 100%;
	text-align: center;
	display: block;
	position: absolute;
	top: 45%;
	z-index: 0;
}

.draggableGrp, .draggableMsg, .draggableSub {
	background-color: lightgray;
	width: 90%;
	height: 100px;
	border-radius: 10px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	padding: 20px;
	box-sizing: border-box;
	transition: 0.1s;
}

.draggableGrp {
	background-color: #e6e6e6;
}

.draggableGrp:hover, .draggableMsg:hover, .draggableSub:hover {
	transform: scale(1.02, 1.02);
	transition: 0.2s;
}

.expand {
	width: 100%;
	height: 100%;
	position: relative;
	z-index: 1;
}


/* Styles for groups workspace */
#grpTopBar {
	height: 65px;
	background-color: #F58F31;
}

#topTitle {
	font-family: 'Roboto Slab', serif;
	font-size: 25px;
	text-align: center;
	line-height: 65px;
}

#trashGrp {
	position: absolute;
	top: 17px;
	margin-left: 15px;
	transition: 0.1s;
}

#trashGrp img{
	width: 30px;
	border-radius: 50%;
}

#addGrp {
	position: absolute;
	top: 17px;
	right: 0;
	margin-right: 15px;
	transition: 0.2s;
}

#addGrp img{
	width: 30px;
	border-radius: 50%;
}

#reloadGrp {
	position: absolute;
	top: 16px;
	margin-left: 50px;
}

#reloadGrp img{
	width: 32px;
	border-radius: 50%;
	animation: reload 0.3s ease-in-out forwards paused;
}

#searchGrp {
	position: absolute;
	top: 16px;
	margin-left: 85px;
}

#searchGrp img{
	width: 32px;
}

#searchBox {
	width: 0;
	position: absolute;
	top: 19px;
	margin-left: 120px;
	overflow: hidden;
	transition: 0.2s;
}

#searchBox input {
	height: 23px;
	border: none;
	outline: none;
	font-size: 14px;
}

#addGrp:hover, #trashGrp:hover, #reloadGrp:hover, #searchGrp:hover {
	transform: scale(1.03);
	transition: 0.2s;
}

#addPopup, #deletePopup {
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
  z-index: 1;
}

#addPopup:after, #deletePopup:after {
	content: '';
	position: absolute;
	background-color: lightgray;
	width: 100%;
	height: 100%;
	top: 0;
	opacity: 0.7;
  filter: blur(1px);
}

#popupBox{
	width: 50%;
	height: 20%;
	background-color: white;
	border-radius: 15px;
	opacity: 1;
	position: relative;
	top: 30%;
	left: 15%;
	z-index: 2;
}

#deleteBox {
	width: 50%;
	padding-bottom: 55px;
	background-color: white;
	border-radius: 15px;
	opacity: 1;
	position: relative;
	top: 20%;
	left: 15%;
	z-index: 2;
}

#closePopup, #closeDelPopup {
	transform: scale(1.7);
	position: absolute;
	right: 20px;
	top: 10px;
	transition: 0.1s;
}

#closePopup:hover, #closeDelPopup:hover {
	transform: scale(2);
	transition: 0.2s;
}

#popupTitle, #popupDelTitle {
	font-size: 17px;
	height: 30px;
	padding-top: 2.5%;
	margin-left: 4%;
	font-weight: bold;
}

#groupText {
	font-size: 14px;
	outline: none;
	margin-left: 4%;
	width: 90%;
	height: 25px;
}

#createGrp, #deleteGroup {
	font-size: 14px;
	width: 110px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	position: absolute;
	bottom: 15px;
	right: 15px;
	background-color: #13896D;
	border-radius: 20px;
	transition: 0.1s;
}

#deleteGroup {
	background-color: #ff4d4d;
	width: 120px;
}

#createGrp:hover, #deleteGroup:hover {
	transform: scale(1.03);
	transition: 0.2s;
}

#warningMsg {
	font-size: 14px;
	font-weight: normal;
	font-style: italic;
	color: red;
}

#tableWrap {
	margin-top: 20px;
	width: 97%;
	max-height: 180px;
	overflow-y: auto;
}

#selectedGroups {
	width: 80%;
	position: relative;
	left: 50px;
}

#selectedGroupText {
	height: 30px;
}

#grpTable {
	height: 100%;
	width: 100%;
	border-collapse: collapse;
}

#grpTable tbody {
	display: block;
	max-height: 550px;
	overflow-y: auto;
}

#grpTable thead, tbody tr {
	display: table;
	width: 100%;
	table-layout: fixed;
}

#grpTable tr th {
	background-color: #EAEAEA;
	height: 55px;
}

#grpTable tr {
	text-align: left;
	height: 50px;
}

#grpTable th {
  border-left: darkgray 2px solid;
  border-right: darkgray 2px solid;
  border-bottom: darkgray 2px solid;
}

#grpTable td {
	border-left: none;
	border-right: none;
	border-bottom: darkgray 2px solid;
}

/*#checkAll {
  position: relative;
  top: 19px;
  left: 17px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.customBox {
  position: relative;
  top: 15px;
  left: 17px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.customBox input, #checkAll input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: white;
  border-radius: 5px;
  box-shadow: inset 0 0 3px darkgray;
}*/

#checkAll {
	position: relative;
  top: 2px;
  left: 17px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  height: 21px;
  width: 21px;
  border-radius: 5px;
  box-shadow: inset 0 0 3px darkgray;
}

.customCheck {
	position: relative;
  left: 17px;
  height: 20px;
  width: 20px;
  background-color: white;
  border-radius: 5px;
  box-shadow: inset 0 0 3px darkgray;
}

/* .customBox input:checked ~ .checkmark, #checkAll input:checked ~ .checkmark  {
  background-color: #F58F31;
  box-shadow: none;
} */

#grpTable td:first-child, #grpTable th:first-child {
  border-left: none;
  text-align: center;
  box-sizing: border-box;
  width: 55px;
}

#grpTable td:last-child, #grpTable th:last-child {
  border-right: none;
}

#grpTable tr th:not(:first-child) {
	padding-left: 1em;
}

#grpTable tr td:not(:first-child) {
	padding-left: 1em;
}

#grpTable tr td {
	position: relative;
}

.editBtn, .saveBtn {
	height: 25px;
	position: absolute;
	right: 6px;
	bottom: 12px;
}

.tempInp {
	height: 25px;
	font-size: 15px;
	position: absolute;
	left: 12px;
	bottom: 10px;
	outline: none;
}


/* Styles for subscription workspace */
#subscribers {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
}

#subsTopBar {
	position: relative;
	z-index: 1;
	width: 100%;
	height: 65px;
	background-color: #F58F31;
}

#subsTitle {
	font-family: 'Roboto Slab', serif;
	font-size: 25px;
	text-align: center;
	line-height: 65px;
	position: absolute;
	z-index: 1;
	background-color: #F58F31; 
	margin-left: 40px;
}

#subsTab, #grpTab {
	z-index: 2;
	width: 200px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	background-color: #fcd8b6;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	display: inline-block;
	float: right;
	margin-top: 25px;
	margin-right: -10px;
}

#subsTab {
	position: relative;
}

#grpTab {
	margin-right: 10px;
}

#subsIconRow {
	z-index: 0;
	position: relative;
	left: 317px;
	bottom: 12px;
	width: 380px;
	height: 35px;
	margin-top: 30px; 
	display: inline-block;
	float: left;
	overflow: hidden;
	opacity: 1;
	transition: 0.2s;
}

/*sub icons*/
#trashSub {
	display: inline-block;
	margin-right: 2px;
	transition: 0.2s;
}

#trashSub img{
	width: 30px;
	border-radius: 50%;
}

#addSub {
	display: inline-block;
	margin-right: 2px;
	transition: 0.2s;
}

#addSub img{
	width: 31px;
	border-radius: 50%;
}

#reloadSub {
	display: inline-block;
	margin-right: 1px;
	transition: 0.2s;
}

#reloadSub img{
	width: 32px;
	border-radius: 50%;
	animation: reload 0.3s ease-in-out forwards paused;
}

#searchSub {
	display: inline-block;
	margin-right: 2px;
	transition: 0.2s;
}

#searchSub img{
	width: 32px;
}

#searchBoxSub {
	width: 0;
	display: inline-block;
	margin-bottom: 3px;
	overflow: hidden;
	transition: 0.2s;
}

#searchBoxSub input {
	height: 23px;
	border: none;
	outline: none;
	font-size: 14px;
}

#saveSub {
	z-index: 0;
	position: absolute;
	left: -40px;
	top: 0px;
	background-color: white;
	width: 40px;
	height: 40px;
	margin-right: 2px;
	border-bottom-right-radius: 20px;
	transition: 0.3s;
}

#saveSub img {
	width: 27px;
	opacity: 0.8;
	display: block;
	margin-top: 5px;
	margin-left: 5px;
}

#addSub:hover, #trashSub:hover, #reloadSub:hover, #searchSub:hover, #saveSub img:hover {
	transform: scale(1.03);
	transition: 0.2s;
}

#addSubPop, #delSubPop {
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
  z-index: 1;
}

#addSubPop:after, #delSubPop:after {
	content: '';
	position: absolute;
	background-color: #e6e6e6;
	width: 100%;
	height: 100%;
	top: 0;
	opacity: 0.7;
  filter: blur(1px);
}

#addSubBox {
	width: 50%;
	height: 370px;
	background-color: white;
	border-radius: 15px;
	opacity: 1;
	position: relative;
	top: 15%;
	left: 26%;
	z-index: 2;
}

#closeAddSub, #closeDelSub {
	transform: scale(1.7);
	position: absolute;
	right: 20px;
	top: 10px;
	transition: 0.1s;
}

#closeAddSub:hover, #closeDelSub:hover {
	transform: scale(2);
	transition: 0.2s;
}

#popSubTitle{
	font-size: 17px;
	height: 30px;
	padding-top: 2.5%;
	margin-left: 5%;
	font-weight: bold;
}

#subName {
	margin-left: 5%;
}

#subText {
	font-size: 14px;
	outline: none;
	margin-left: 5%;
	width: 89%;
	height: 25px;
	border: #A6A6A6 solid 1px;
	border-radius: 5px;
	margin-top: 5px;
}

#protocolTitle {
	margin-left: 5%;
}

#subProtocol {
	height: 20px;
	margin-left: 5%;
	margin-top: 1.5%;
}

#textProt, #emailProt {
	display: inline-block;
	height: 20px;
	margin-right: 20px;
}

#textCircle, #emailCircle {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	box-shadow: inset 0 0 3px #fbca9d;
	display: inline-block;
}

.innerCircle {
	width: 7px;
	height: 7px;
	border-radius: 50%;
	position: relative;
	left: 7px;
	top: 7px;
	background-color: white;
}

#textProtText, #emailProtText {
	font-size: 14px;
	display: inline-block;
	position: relative;
	bottom: 5px;
	font-style: italic;
}

#contactTitle {
	margin-left: 5%;
}

#contactInfo {
	font-size: 14px;
	outline: none;
	margin-left: 5%;
	width: 89%;
	height: 25px;
	border: #A6A6A6 solid 1px;
	border-radius: 5px;
	margin-top: 5px;
}

#groupOptTitle {
	margin-left: 5%;
}

#groupSelect {
	font-size: 14px;
	font-family: 'Lato', sans-serif;
	margin-left: 5%;
	width: 90%;
	height: 27px;
	outline: none;
	background-color: white;
	border: #A6A6A6 solid 1px;
	border-radius: 5px;
	margin-top: 5px;
}

#createSub {
	font-size: 14px;
	width: 140px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	position: absolute;
	bottom: 15px;
	right: 15px;
	background-color: #13896D;
	border-radius: 20px;
	transition: 0.1s;
}

#createSub:hover {
	transform: scale(1.03);
	transition: 0.2s;
}

#delSubBox {
	width: 50%;
	background-color: white;
	padding-bottom: 55px;
	border-radius: 15px;
	opacity: 1;
	position: relative;
	top: 20%;
	left: 26%;
	z-index: 2;
}

#delSubTitle {
	font-size: 17px;
	height: 30px;
	padding-top: 2.5%;
	margin-left: 5%;
	font-weight: bold;
}

#subWarningMsg {
	font-size: 14px;
	font-weight: normal;
	font-style: italic;
	color: red;
}

#selectedSubsWrap {
	margin-top: 20px;
	width: 97%;
	max-height: 180px;
	overflow-y: auto;
}

#selectedSubs {
	width: 80%;
	position: relative;
	left: 50px;
}

#selectedSubText {
	height: 30px;
}

#deleteSub {
	font-size: 14px;
	width: 140px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	position: absolute;
	bottom: 15px;
	right: 15px;
	background-color: #ff4d4d;
	border-radius: 20px;
	transition: 0.1s;
}

#deleteSub:hover {
	transform: scale(1.03);
	transition: 0.2s;
}

/* Subscriptions Table */
#subsTable {
	width: 100%;
	border-collapse: collapse;
}

#subsTable tbody {
	display: block;
}

#subsTable thead, tbody tr {
	display: table;
	width: 100%;
	table-layout: fixed;
}

#subsTable tr th {
	background-color: #EAEAEA;
	height: 55px;
}

#subsTable tr {
	text-align: left;
	height: 50px;
}

#subsTable th {
  border-left: darkgray 2px solid;
  border-right: darkgray 2px solid;
  border-bottom: darkgray 2px solid;
}

#subsTable td {
	border-left: none;
	border-right: none;
	border-bottom: darkgray 2px solid;
}

#subsTable td:first-child, #subsTable th:first-child {
  border-left: none;
  text-align: center;
  box-sizing: border-box;
  width: 55px;
}

#subsTable td:last-child. #subsTable th:last-child {
  border-right: none;
}

#subsTable tr th:not(:first-child) {
	padding-left: 1em;
}

#subsTable tr td:not(:first-child) {
	padding-left: 1em;
}

#subsTable tr td {
	position: relative;
}

#checkAllSubs {
	position: relative;
  top: 2px;
  left: 17px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  height: 21px;
  width: 21px;
  border-radius: 5px;
  box-shadow: inset 0 0 3px darkgray;
}

.customCheckSub {
	position: relative;
  left: 17px;
  height: 20px;
  width: 20px;
  background-color: white;
  border-radius: 5px;
  box-shadow: inset 0 0 3px darkgray;
}

.isChecked {
	background-color: #F58F31 !important;
}

.isCheckedBackground {
	background-color: #fcd8b6;
}

::-webkit-scrollbar { /*scroll bar styling */
	height: 80px;
}

::-webkit-scrollbar-track {
	background-color: #bfbfbf;
	-webkit-box-shadow: inset 0 0 3px  #a6a6a6;
}

::-webkit-scrollbar-thumb {
  background: #88CCF1; 
}

#openGrp {
	height: 100%;
	overflow-x: scroll;
	overflow-y: hidden;
	white-space: nowrap; /*needs this to scroll horizontally*/
	box-sizing: border-box;
	padding-bottom: 8%;
}

.colGroup {
	min-height: 100px;
	height: 108%;
	width: 300px;
	display: inline-block;
	vertical-align: top; /*needs this property so child elements stay aligned to top */
	white-space: normal;
	background-color: lightgray;
	margin-left: 20px;
	margin-top: 20px;
	border-radius: 15px;
	border-top-left-radius: 0;
	border-bottom-right-radius: 0;
	overflow-y: hidden;
}

.colGroup:last-child {
	margin-right: 20px;
}

.colTitle {
	line-height: 40px;
	padding-left: 25px
}

.subWrap {
	overflow-y: scroll;
	height: 108%;
	box-sizing: border-box;
	padding-bottom: 30%;
}

.singleSub {
	background-color: lightyellow;
	box-shadow: 0px 5px 20px darkgray;
	width: 255px;
	height: 80px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 15px;
	border-radius: 5px;
}

.subEndpoint {
	font-size: 13px;
	font-style: italic;
	color: #666666;
}

#tempSide {
	width: 0px;
	height: 100px;
	background-color: #F58F31;
	position: fixed;
	bottom: 0;
	left: 0;
	transition: 0.4s;
	z-index: 1;
}

#tempTitle {
	width: 100%;
	height: 30px;
	text-align: center;
	line-height: 30px;
	overflow: hidden;
}

#tempInp {
	width: 86%;
	height: 60px;
	background-color: white;
	border-radius: 10px;
	margin-left: auto;
	margin-right: auto;
}

#cloneBtn {
	width: 0;
	height: 25px;
	background-color: white;
	position: fixed;
	bottom: 75px;
	left: 20px;
	text-align: center;
	overflow: hidden;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	z-index: 0;
	transition: 0.5s;
}


/* Styles for messages workspace */
#messages {
	height: 100%;
}
/*styles for messages sub-tab*/
#msgsTopBar {
	width: 100%;
	height: 65px;
	background-color: #F58F31;
}

#msgsTitle {
	font-family: 'Roboto Slab', serif;
	font-size: 25px;
	text-align: center;
	line-height: 65px;
	position: absolute;
	margin-left: 150px;
}

#trashMsg {
	position: absolute;
	top: 14px;
	margin-left: 15px;
}

#trashMsg img {
	width: 30px;
	border-radius: 50%;
}

#reloadMsg {
	position: absolute;
	top: 14px;
	margin-left: 50px;
}

#reloadMsg img{
	width: 32px;
	border-radius: 50%;
}

#searchMsg {
	position: absolute;
	top: 14px;
	margin-left: 85px;
}

#searchMsg img{
	width: 32px;
}

#oldMsgTab, #newMsgTab {
	z-index: 0;
	width: 200px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	background-color: #fcd8b6;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	display: inline-block;
	float: right;
	margin-top: 25px;
	margin-right: -10px;
}

#oldMsgTab {
	background-color: #EAEAEA;
}

#newMsgTab {
	margin-right: 10px;
}

#checkAll2 {
  position: relative;
  top: 19px;
  left: 17px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#checkAll2 input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

#openOldMsg {
	display: block;
	height: 100%;
}

#openNewMsg {
	display: none;
	text-align: center;
	height: 100%;
}

#messages textarea {
	resize: none;
	font-family: 'Lato', sans-serif;
}

/*styles for messages sub-tab*/
#openOldMsg {
	overflow: scroll;
}

.msgGradient { /*controls size, positioning (itself/flex), and color*/
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 80%;
	padding-left: 20px;
	background-color: #13896D;
	margin: 10px auto;

	/*background gradient*/
	background-image: linear-gradient(#5DFDCB, #2BAD8F);
	background-attachment: fixed;
}

.modeContainer {
	width: 41px;
}

.editOff {/*rounded edges, shadow on hover*/
	border-radius: 10px;
}

#editOn {/*angular edges*/

}

/*.msgCheck {
	position: relative;
	top: 15px;
	left: 15px;
	cursor: pointer;
}

.msgCheck input {
	position: absolute;
	opacity: 0;
	cursor:pointer;
}

.msgCheckmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 20px;
	width: 20px;
	background-color: white;
	border-radius: 5px;
}*/
/*.checkMsg {
	width: 30px;
	height: 30px;
	border: 1px solid black;
	background-color: white;
}*/

.msgAndDate {
	padding: 15px;
}

.message {
	margin-top: 0;
}

.msgDelete, .msgEdit {
	height: 50%;
	width: 41px;
	background-color: #D3F9CA;
	/*border-color: transparent;*/
	/*border-color: #A3FFAA;*/
	border: 1px solid #2BAD8F;
	cursor: pointer;
}

.msgDelete {
	border-top-right-radius: 10px;
	border-bottom-width: 0;
}

.msgEdit{
	border-bottom-right-radius: 10px;
}

.msgEdit img {
	width: 30px;
	width: 25px;
	height: 25px;
}

/*styles for custom message sub-tab*/
#openNewMsg {
}

#newMsgContainer {
	margin-top: 10%;
	height: 50%;
}

#newMsgContainer textarea{
	font-size: 20px;
}

#typeMsg {
	width: 80%;
	height: 80%;
	display: inline-block;
}

#submitMsg { /*btn - submit type msg */
	background-color: #138960;
	cursor: pointer;
	width: 80px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	border-radius: 10px;
	margin: 2% auto;
	/*margin: 3% 10% 2% 30%;*/
}


/* Styles for quick send workspace */
#quickSend{
	height: 100vh;
}
.msgType{
	margin: 20px;
	padding: 10px;	
	background-color: #F58F31;
	color: white;
	border-radius: 20px;
	border-width: 5px;
	border-style: solid; 
	border-color: #F58F31;	
	text-align: center;
	transition: all 0.2s;
	transition-timing-function: ease;
}
.msgType:hover { 
	margin-left: 10px;
	margin-right: 10px;
  transition: all 0.2s;
  transition-timing-function: ease-in;
}
#msgPanel{
	height: 90vh;
	width: 65%;
	float: left;
}
#msgTypePanel{
	float: left	;
	width: 35%;
	height: 90vh;
}
.tab{
	background-color: #F58F31;
	text-align: center;
	color: white;
	padding: 5px;
	height: 10vh; 
}
.scroll{
	overflow-y: auto;
	height: 90vh;
}

#qsContainer{
	width: 70%;
	height: 85%;
	margin: auto;
	margin-top: 40px;
	background-color: #F58F31;
	border-radius: 40px;
}
#qsType{
	padding: 2px;
	text-align: center;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	height: 50px;
}
#typeHeader{
	color: white;
	text-align: center;
	display: inline-block;
}
#msgContainer{
	margin: auto;
	background-color: white;
	width: 85%;
	height: 65%;
	border-radius: 20px;
	padding: 10px;
	position: relative;
}
#qsSend{
	background-color: #13896D;
	height: 50px;
	width: 190px;
	margin: auto;
	margin-top:15px;
	text-align: center;
	vertical-align: middle;
	line-height: 50px;  
	border-radius: 10px;
}
.msgPre{
	overflow-y: auto;
	height: 100%;
	display: none;
}
.msgBox{
	overflow-y: auto;
	height: 90%;
	display: none;
}
#editButton{
	background: lightgrey;
	position: absolute;
	padding: 5px 10px;   
	bottom: 10px;
  right: 10px;
  text-align: center;
  display: none;
  flex-direction: row;
  align-items: center;
  transition: all 0.15s;
  transition-timing-function: ease-out;
}
#editButton img{
	width:32px;
	height: 32px;
	display: inline-block;
}
#editButton:hover{
	padding-left:20px;   
  transition: all 0.15s;
  transition-timing-function: ease-in;
}
#editBox{
	width: 100%;
}
#edit-saveType{
	width: 20px;
	height: 20px;	
	display: none;
	margin-left: 5px;
}
#editTypeBox{
	display: none;
}
#note{
	display: none;
}